
header {
    min-height: 700px;
    padding-top: 7rem;
    overflow: visible !important;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}



/* CTA */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* HEADER SOCIALS */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 5rem;
    top: 30rem;
    font-size: 1.5rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* IMAGE */
.me img {
    background: linear-gradient(var(--color-primary), transparent);
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin-top: 4rem;
    border-radius: 69% 31% 35% 65% / 46% 40% 60% 54%   ;
}

/* SCROLL DOWN */
.scroll__down{
    position: absolute;
    right: 0;
    bottom: 3rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width:1024px){
    header {
        min-height: auto;
        height: auto;
        padding-bottom: 3rem; /* Reduce extra space */
    }

    .header__container {
        gap: 1rem; /* Reduce spacing between elements */
    }
    .header__socials {
        position: absolute;
        left: 2rem;
        top: 65%;
        transform: translateY(-50%);
    }

    .scroll__down {
        position: absolute;
        right: 2rem;
        top: 65%;
        transform: translateY(-50%);
        writing-mode: vertical-rl;
        
    }
}

@media screen and (max-width: 600px) {
   .header__socials,
    .scroll__down {
        display: none;
    }

}